body
{
    background: #2C485B;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment
{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #A0BFAE;
    border-radius:4px;
}

.assignment img
{
    width: 200px;
    margin: 10px;
    border: 2px solid;
    color: #192D3F;
}

.assignment img:hover
{
    color: #F4F4F4;
}

h1
{
    color: #F4F4F4;
    text-align: center;
}

a
{
    text-decoration: none;
    color: #000000;
}

a:hover
{
    color: #F4F4F4;
}